body {
  background-color: #f9f9f9; /* Gris clair très doux pour le fond */
  font-family: 'Arial', sans-serif;
  color: #333; /* Texte plus foncé mais pas trop pour un meilleur contraste */
  margin: 0;
  padding: 0;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
