.listTypeContainer {
	margin-top: 5.5vh;
}

.listTypeTitre {
	background-color: var(--title-background-color);
	font-weight: normal;
	text-align: center;
	margin-bottom: 0;
	color: black;
}

.listTypeUl {
	background-color: var(--container-background-color);
	margin: 0;
	padding: 1.5rem;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	list-style-type: none;
}

.listTypeUl li {
	padding: 0.8rem 1rem;
	margin-bottom: 0.5rem;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	transition: transform 0.2s, box-shadow 0.2s;
}

.listTypeUl li:hover {
	transform: translateY(-3px);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	background-color: var(--highlight-color, #f0f8ff);
}

.listTypeUl li:last-child {
	margin-bottom: 0;
}
