.listTypeContainer {
	margin-top: 5.5vh;
}

.listTypeTitre {
	background-color: var(--title-background-color);
	font-weight: normal;
	text-align: center;
	margin-bottom: 0;
}

.listTypeUl {
	background-color: var(--container-background-color);
	margin: 0;
}