.listEchangeContainer {
	margin-top: 5vh;
}

.listEchangeTitre {
	background-color: var(--title-background-color);
	font-weight: normal;
	text-align: center;
	margin-bottom: 0;
}

.listEchangeTable {
	background-color: var(--container-background-color);
	margin: 0;
}

table {
	width: 100%;
	border-collapse: collapse; /* Supprime les espaces entre les bordures */
	margin: 20px 0;
}

/* Style des bordures */
table, th, td {
	border: 1px solid #ccc; /* Couleur de la bordure */
}

/* Style des en-têtes */
th {
	background-color: var(--container-background-color); /* Couleur principale */
	font-weight: bold;
	text-align: left; /* Alignement du texte */
	padding: 8px;
}

/* Style des cellules */
td {
	padding: 8px; /* Espacement à l'intérieur des cellules */
	text-align: left; /* Alignement du texte */
}

/* Alternance des couleurs de ligne */
tr:nth-child(even) {
	background-color: #D4EBC4; /* Nuance plus claire de #B1DE91 */
}

tr:nth-child(odd) {
	background-color: #ffffff; /* Couleur pour les lignes impaires */
}

/* Survol des lignes */
tr:hover {
	background-color: #e6e6e6; /* Couleur principale au survol */
}

.buttonsContainer {
	display: flex;
	gap: 10px; /* Espacement entre les boutons */
	justify-content: center; /* Centrer les boutons */
	position: absolute; /* Sortir du tableau tout en restant dans la cellule */
	right: 0; /* Aligner les boutons à droite */
  }

